* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #2c2e56;
    grid-template-areas:
        'sidebar header header color-1'
        'sidebar box-2 color-3 color-6'
        'sidebar color-4 color-5 color-6';
         
    flex-wrap: wrap;

}

.header,
.sidebar,
.color-1 .box-2,
.color-3,
.color-4,
.color-5,
.color-6 {
    background-color: green;
    padding: 20px;
    margin: 10px;
    border: 5px solid white;
   
}

.sidebar {
    grid-area: sidebar;
    background-color: #6dbf4f;
    border: 3px solid black;
    color: #6dbf4f;
}

.header {
    grid-area: header;
    background-color: #6dbf4f;
    border: 3px solid black;
    color: #6dbf4f;
}

.color-1 {
    grid-area: color-1;
    background-color: #ec3337;
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    color: #ec3337;
}

.box-2 {
    grid-area: box-2;
    background-color: #fbb230;
    border: 3px solid black;
    margin: 10px;
    padding: 20px;
    color: #fbb230;
}

.color-3 {
    grid-area: color-3;
    background-color: #ec3337;
    border: 3px solid black;
    color: #ec3337;
}

.color-4 {
    grid-area: color-4;
    background-color: #ec3337;
    border: 3px solid black;
    color: #ec3337;
}

.color-5 {
    grid-area: color-5;
    background-color: #fbb230;
    border: 3px solid black;
    color: #fbb230;
}

.color-6 {
    grid-area: color-6;
    background-color: #6dbf4f;
    border: 3px solid black;
    color: #6dbf4f;
}